<div>
    <div ng-repeat="note in $ctrl.notes">
        <h1>{{ note.id }}</h1>
        <input ng-model="note.value" ng-model-options='{ debounce: 1000 }' ng-change="$ctrl.editNote(note)">
        <!-- <button ng-click="$ctrl.editNote(note)">Save</button> -->
        <button ng-click="$ctrl.deleteNote(note)">Delete</button>
    </div>

    <br>
    <div>
        <h2>Add a new Note</h2>
        <input ng-model="$ctrl.noteText"/>
        <button ng-click="$ctrl.addNote()">Create</button>
    </div>
</div>